*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, 
body{
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    width: auto;
    height: auto;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
/*------------header--------*/
.header{
    height: 100px;
    background-color: #1d1a1a;
    width: auto;
    padding-top: 50px;  
}
.hleft{
    float: left;
    
}
.hright{
    float: right;
    letter-spacing: 4px;
    padding-right: 80px;
}
.logo{
    width: 100px;
    height: 100px;
}
/*-----------------------*/

/*----Ul and list elements inside header---*/
.h-ul{
    list-style: none;
    float: left;
}
.h-list{
    float: left;
    padding-left: 40px;
}
.a{
    text-decoration: none;
    color: #fff;
}

/*---------------------------*/
.welcome{
    width: auto;
    height: 400px;
    background-color:rgb(223, 219, 223);
    padding-top: 20px;
    border: 1px solid black;

}
.about{
    background-color: rgb(223, 219, 223);
    height: 400px;
    width:auto;
    border: 1px solid black;
}
.contact-me{
    background-color:rgb(223, 219, 223);
    height: 400px;
    width: auto;
    border: 1px solid black;
}
.social{
    height: 250px;
    background-color: black;
    color: #fff;
}

